[submodule "lexbor"]
	path = src/main/lexbor
	url = https://github.com/lexbor/lexbor.git
[submodule "elk"]
	path = src/main/elk
	url = https://github.com/cesanta/elk.git
[submodule "elk"]
	path = desktop-src/main/elk
	url = https://github.com/cesanta/elk.git
[submodule "lvgl"]
	path = desktop-src/main/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "lexbor"]
	path = desktop-src/main/lexbor
	url = https://github.com/lexbor/lexbor.git
[submodule "lvgl"]
	path = desktop-src/main/lvgl
	url = https://github.com/lvgl/lvgl.git
