
[submodule "elk-main"]
	path = src/main/elk
	url = https://github.com/cesanta/elk.git

[submodule "elk-desktop"]
	path = desktop-src/main/elk
	url = https://github.com/cesanta/elk.git

[submodule "lvgl-desktop"]
	path = desktop-src/main/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "desktop-src/main/lexbor"]
	path = desktop-src/main/lexbor
	url = https://github.com/lexbor/lexbor.git
[submodule "src/main/lexbor"]
	path = src/main/lexbor
	url = https://github.com/lexbor/lexbor.git
